PROJECT_NAME_HEADER=Backoffice
PROJECT_NAME_TITLE=RAPIHOGAR PROJECT

SECRET_KEY=CHANGEME!!!!!!
DJANGO_DEBUG=True

# POSTGRESQL
POSTGRES_ROOT_PASSWORD=rapihogarpass
POSTGRES_DB=rapihogardb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=rapihogarpass
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DEFAULT_CHARACTER_SET=utf8
POSTGRES_HOST=container_rapihogar_db
POSTGRES_PORT=5432

DATABASE_URL=postgres://postgres:rapihogarpass@container_rapihogar_db:5432/rapihogardb
